/* Headline Image */
.itinerary-headline {
  width: 100%;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.headline-overlay{
    background-image: url(../img/vantac-x-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
}

.headline-overlay h1{
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-top: 7rem;
    font-size: 4rem;
}

.highlighted {
    color: #cf41b8;
}
.itinerary-headline img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Itinerary Section */
.itinerary-section {
  background-color: #0e0b1e;
  color: white;
  padding: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.itinerary-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.itinerary-table {
  background-color: #1b162f;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.1);
}

.itinerary-type {
  text-align: center;
  font-size: 1.5rem;
  color: #c372f4;
  margin-bottom: 0.25rem;
}

.itinerary-description {
  text-align: center;
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 1.5rem;
}

.itinerary-columns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .itinerary-columns {
    flex-direction: row;
    justify-content: space-between;
  }
}

.itinerary-columns h4 {
  color: #e3dcff;
  border-bottom: 2px solid #6d4ccf;
  margin-bottom: 0.5rem;
}

.itinerary-columns ul {
  padding-left: 1rem;
  list-style-type: disc;
  color: #f1f1f1;
}

.itinerary-columns li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.logout-btn {
  color: white;
  font-weight: bold;
  background-color: black;
  margin-top: 0.5rem;
    border: 2px solid white;
  border-radius: 20px;
  width: 8rem;
  padding: 0.25rem 1.5rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
  transition: all 0.3s;
}

.logout-btn:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.logout-btn:active {
  transform: scale(0.9);
}


.button {
  display: block;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  margin-top: 0.5rem;
  border: 2px solid white;
  border-radius: 40px;
  width: 12rem;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.button:active {
  transform: scale(0.9);
}